@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@if (!@Model.Any())
{
    <p>We do ot have any customer</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.ActionLink(item.Name, "Details", "Customer", new { id = item.Id },null)
                    </td>
                    <td>@item.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

