@model Vidly.ViewModels.RandomCustomerMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @foreach (var item in Model.Customers)
    {
        <p>@item.Name</p>
    };

<h2>@Model.Movie.Name</h2>

